<%= form_with(model: [@prefecture, @place]) do |form| %>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :name, class: 'label' %>
    </div>
    <div class="field-body">
      <%= form.text_field :name, required: true, class: 'input' %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :address, class: 'label' %>
    </div>
    <div class="field-body">
      <%= form.text_field :address, class: 'input' %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :gone, class: 'label' %>
    </div>
    <div class="field-body">
      <span class="select is-fullwidth">
      <%= form.select :gone, [['行ってみたい', 0], ['行った', 1]], { include_blank: false, selected: 0 }, class: 'select' %>
        </span>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :memo, class: 'label' %>
    </div>
    <div class="field-body">
      <%= form.text_area :memo, class: 'textarea' %>
    </div>
  </div>

  <div class="field is-horizontal">
    <!--        <div class="control is-expanded">-->
    <!--        <div class="select is-fullwidth">-->
    <div class="field-label is-normal">
      <%= form.label :category_id, class: 'label' %>
    </div>
    <div class="field-body">
      <span class="select is-fullwidth">
      <%#= form.select :category_id, [['温泉', 1], ['旅館・ホテル', 2], ['飲食店', 3], ['その他', 4]], { include_blank: false, selected: 1 }, class: 'select' %>
        <%= form.select :category_id, [['温泉', 1], ['旅館・ホテル', 2], ['飲食店', 3], ['その他', 4]], { include_blank: false, selected: 1 }, { class: 'form-control' } %>
      </span>
    </div>
  </div>
  <!--    </div>-->
  <!--    </div>-->

  <!--  <div class="field is-horizontal">-->
  <!--        <div class="control is-expanded">-->
  <!--        <div class="select is-fullwidth">-->
  <!--    <div class="field-label is-normal">-->
  <%#= form.label :category_id, class: 'label' %>
  <!--    </div>-->
  <!--    <div class="column is-half">-->
  <!--      <div class="field-body">-->
  <!--      <span class="select is-fullwidth">-->
  <%#= form.select :category_id, [['温泉', 1], ['旅館・ホテル', 2], ['飲食店', 3], ['その他', 4]], { include_blank: false, selected: 1 }, { class: 'form-control' } %>

  <!--      </span>-->
  <%#= form.select :category_id, [['温泉', 1], ['旅館・ホテル', 2], ['飲食店', 3], ['その他', 4]], { include_blank: false, selected: 1 }, class: 'select' %>
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--    </div>-->






  <!--  <div class="columns">-->
  <%#= form.label :category_id, class: 'label is-normal' %>
  <!--    <div class="column is-half">-->
  <!--      <div class="field">-->
  <!--        <p class="control">-->
  <!--            <span class="select is-fullwidth">-->
  <%#= form.select :category_id, [['温泉', 1], ['旅館・ホテル', 2], ['飲食店', 3], ['その他', 4]], { include_blank: false, selected: 1 }, { class: 'form-control' } %>
  <!--            </span>-->
  <!--        </p>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <div class="actions">
    <%= form.submit '場所を追加する', class: 'button is-success is-light' %>
  </div>
<% end %>
