<h1 class="title"><%= @prefecture.name %></h1>

<div class="pb-4">
  <%= link_to '場所の追加', new_prefecture_place_path(@prefecture), class: 'button is-success is-light mr-1' %>
  <%= link_to '戻る', root_path, class: 'button is-info is-light', data: {"turbolinks" => false} %>
</div>

<% gone_places = [] %>
<% not_gone_places = [] %>

<% @places.order(:id).each do |place| %>
  <% if place.gone? %>
    <% gone_places << place %>
  <% else %>
    <% not_gone_places << place %>
  <% end %>
<% end %>

<%= render 'list', places: gone_places, prefecture: @prefecture, title: '行ったところ' %>
<%= render 'list', places: not_gone_places, prefecture: @prefecture, title: '行ってみたいところ' %>
