<h1><%= @prefecture.name %></h1>

<% gone_places = [] %>
<% not_gone_places = [] %>

<% @places.order(:id).each do |place| %>
  <% if place.gone? %>
    <% gone_places << place %>
  <% else %>
    <% not_gone_places << place %>
  <% end %>
<% end %>

<div>
  行ったところ
<!--    TODO: 行ったところと行きたいところで共通化する-->
  <ul>
    <% Category.order(:id).each do |category| %>
      <li>
        <%= category.label %>
        <ul>
          <% gone_places.each do |place| %>
            <% if place.category == category %>
              <li><%= link_to place.name, prefecture_place_path(@prefecture, place) %></li>
            <% end %>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<!--  ここまで-->
</div>



<div>
  行ってみたいところ
  <ul>
    <% Category.order(:id).each do |category| %>
      <li>
        <%= category.label %>
        <ul>
          <% not_gone_places.each do |place| %>
            <% if place.category == category %>
              <li><%= link_to place.name, prefecture_place_path(@prefecture, place) %></li>
            <% end %>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>


<%= link_to '場所の追加', new_prefecture_place_path(@prefecture) %>

<%= link_to '戻る', root_path %>
