<h1 class="title"><%= "#{@schedule.name}の編集" %></h1>

<%#= render 'form' %>

<!--ここ元々-->
<%= form_with(model: [@plan, @schedule]) do |form| %>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :name, class: 'label' %>
    </div>
    <div class="field-body">
      <%= form.text_field :name, placeholder: '1日目', required: true, class: 'input' %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :went_on, class: 'label' %>
    </div>
    <div class="field-body">
      <%= form.date_field :went_on, required: true, class: 'input' %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :memo, class: 'label' %>
    </div>
    <div class="field-body">
      <%= form.text_area :memo, class: 'textarea' %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :place_ids, class: 'label' %>
    </div>
    <div class="field-body">
      <% @places.each do |place| %>
        <%= check_box_tag 'schedule[place_ids][]', place.id, @schedule.places.include?(place) %>
        <span class="ml-1 mr-3">
          <%= place.name %>
        </span>
      <% end %>
    </div>
  </div>


  <%= form.fields_for :place_schedules do |place_schedule| %>
    <% place = place_schedule.object.place %>
    <%= place_schedule.label :place do %>
      <%= place.name %>
    <% end %>

    <%= place_schedule.hidden_field :place_id, value: place.id %>
    <%= place_schedule.time_field :start_at, class: 'input' %>
  <% end %>

  <div class="actions">
    <%= form.submit class: 'button is-success is-light' %>
  </div>
<% end %>

<div class="py-3">
  <%= link_to '戻る', plan_schedule_path(@plan, @schedule), class: 'button is-info is-light' %>
</div>





<%#= form_with(model: @schedule, url: plan_schedule_path) do |form| %>
<%#= form.fields_for :place_schedules do |place_schedule| %>
<%# place = place_schedule.object.place %>
<%#= place_schedule.label :place do %>
<%#= place.name %>
<%# end %>
<%#= place_schedule.hidden_field :place_id, value: place.id %>

<%#= place_schedule.datetime_local_field :start_at, class: 'input' %>
<%# end %>


<!--  <div class="actions">-->
<%#= form.submit 'Update Schedule', class: 'btn btn-primary' %>
<!--  </div>-->
<%# end %>
