<h1 class="title">
  <%= @schedule.name %>
</h1>

<div class="date_line my-3"><%= @schedule.went_on %></div>

<ul>
  <% @schedule.ordered_places.each do |place| %>
    <li class="ml-4" style="display: flex">
      <span style="width: 50px"><%= @schedule.start_at(place)&.strftime('%H:%M') %></span>
      <%= link_to place.name, prefecture_place_path(place.prefecture, place), target: :_blank, rel: "noopener noreferrer", class: "textlink lineleft" %>
    </li>
  <% end %>
</ul>

<div class="memo_box mx-3">
  <div class="icon-text">
    <span class="icon has-text-danger"><i class="fas fa-file-signature"></i></span>
    <span><%= simple_format(@schedule.memo) %></span>
  </div>
</div>

<% if @plan.user == current_user %>
  <div class="level mt-5 mb-3 is-mobile">
    <div class="level-left">
      <%= link_to "#{@schedule.name}の編集", edit_plan_schedule_path(@plan, @schedule), class: 'button is-warning is-light level-item' %>
    </div>
    <%= link_to '削除', plan_schedule_path(@plan, @schedule), method: :delete, data: { confirm: '削除してよろしいですか？' }, class: 'button is-danger is-light level-right' %>
  </div>
<% end %>

<div class="py-3">
  <%= link_to '戻る', plan_path(@plan), class: 'button is-info is-light' %>
</div>
