<%= form_with(model: plan) do |form| %>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :name, class: 'label' %>
    </div>
    <div class="field-body">
      <%= form.text_field :name, class: 'input', required: true %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :start_date, class: 'label' %>
    </div>
    <div class="field-body">
      <%= form.date_field :start_date, class: 'input' %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :end_date, class: 'label' %>
    </div>
    <div class="field-body">
      <%= form.date_field :end_date, class: 'input' %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :with_who, class: 'label' %>
    </div>
    <div class="field-body">
      <%= form.text_field :with_who, class: 'input' %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :memo, class: 'label' %>
    </div>
    <div class="field-body">
      <%= form.text_area :memo, class: 'textarea' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'button is-success is-light' %>
  </div>
<% end %>
