<h2 class="title mt-3">
  <span class="icon has-text-danger"><i class="fas fa-map-pin"></i></span>
  <%= @plan.name %>
</h2>

<div class="date_line"><%= @plan.date %></div>
<div class="sentence_line pt-3 ml-5">
  <div class="icon-text">
    <span class="icon has-text-success"><i class="fas fa-user-friends"></i></span>
    <span><%= @plan.with_who %></span>
  </div>
</div>

<% @plan.schedules.order(:id).each do |schedule| %>
  <div class="category_line level-left pl-2 m-3">
    <%= link_to schedule.name, plan_schedule_path(@plan, schedule), class: 'textlink' %>
  </div>
  <ul>
    <% schedule.ordered_places.each do |place| %>
      <li class="ml-4" style="display: flex">
        <span style="width: 50px"><%= schedule.start_at(place)&.strftime('%H:%M') %></span>
        <%= link_to place.name, prefecture_place_path(place.prefecture, place), target: :_blank, rel: "noopener noreferrer", class: "textlink lineleft" %>
      </li>
    <% end %>
  </ul>
<% end %>

<div class="memo_box mx-3">
  <div class="icon-text">
    <span class="icon has-text-danger"><i class="fas fa-file-signature"></i></span>
    <span><%= simple_format(@plan.memo) %></span>
  </div>
</div>

<div class="level mt-5 mb-3">
  <div class="level-left">
    <%= link_to 'プランの編集', edit_plan_path(@plan), class: 'button is-warning is-light level-item' %>
    <%= link_to '日毎の作成', new_plan_schedule_path(@plan), class: 'button is-success is-light level-item' %>
  </div>
  <% unless @plan.schedules.present? %>
    <%= link_to 'プランの削除', plan_path(@plan), method: :delete, data: { confirm: '削除してよろしいですか？' }, class: 'button is-danger is-light level-right' %>
  <% end %>
</div>
<div class="mb-3">
  <%= link_to '戻る', plans_path, class: 'button is-info is-light' %>
</div>
