<p id="notice"><%= notice %></p>

<p>
  <strong>Trip:</strong>
  <%= @place.trip_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @place.category_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>With who:</strong>
  <%= @place.with_who %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @place.comment %>
</p>

<p>
  <strong>Star:</strong>
  <%= @place.star %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
